<div class="cube">
        <img class="cube" src="{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Difficulty level:</span> {{difficultyLevel}}</p>
        <a class="btn" href="/cube/details/{{_id}}">Details</a>
        {{#if isOwner}}
        <a class="btn" href="/cube/edit/{{_id}}">Edit</a>
        <a class="deleteBtn" href="/cube/delete/{{_id}}"><img src="../../static/images/trash.svg" class="deleteBtnImg"></a>
         {{/if}}
</div>